node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
legacy/
.idea/
.vscode
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
node_modules/.cache
.direnv
.direnv/
test-results/.last-run.json
test-results/auth-Authentication-login--14be1-entials-shows-error-message-chromium/error-context.md
