node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
legacy/
.idea/
.vscode
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/
node_modules/.cache
.direnv
.direnv/
playwright-report/index.html
test-results/.last-run.json
