.glitch {
  font-size: clamp(3rem, 12vw, 10rem);
  white-space: nowrap;
  font-weight: 900;
  position: relative;
  margin: 0 auto;
  user-select: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-family: monospace;
}

.glitch::after,
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  overflow: hidden;
}

.glitch:not(.enable-on-hover)::after {
  left: 6px;
  text-shadow: var(--after-shadow, -4px 0 transparent);
}
.glitch:not(.enable-on-hover)::before {
  left: -6px;
  text-shadow: var(--before-shadow, 4px 0 transparent);
}
